version: "3.7"

services:
  master:
    image: ravitandon2/master-300-prod:0.3
    container_name: master
    restart: on-failure
    ports:
      - "80:80"
    depends_on:
      - db
    networks:
      - 'es-network'
    volumes:
      - /Users/ravi/.aws/credentials:/Users/root/.aws/credentials/

  db:
    image: postgres:14.1-alpine
    container_name: db
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    networks:
      - 'es-network'
    volumes:
      - db:/var/lib/postgresql/data
      - ../scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ../scripts/data.sql:/home/data.sql
      - /Users/ravi/Desktop/Decover/DBDumps:/home/

volumes:
  db:
    driver: local
  master:
    driver: local

networks:
  es-network:
    driver: bridge