version: "3.0"

services:
  master:
    image: ravitandon2/master-300-prod:0.3
    ports:
      - "80:80"
    logging:
      driver: awslogs
      options:
        awslogs-group: decover-logs
        awslogs-region: us-east-1
        awslogs-stream-prefix: master-300
    links:
      - db
    volumes:
      - /Users/ravi/.aws/credentials:/Users/root/.aws/credentials/
      
  db:
    image: postgres:14.1-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes:
      - db-data:/var/lib/postgresql/data
      - ../scripts/init.sql:/docker-entrypoint-initdb.d/


volumes:
  db-data:
